@import "tailwindcss";


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.perspective {
  perspective: 1000px;
}

.transform-3d {
  transform-style: preserve-3d;
}

.hover-3d {
  transition: transform 1s ease;
}

.hover-3d:hover {
  transform: perspective(1000px) rotateY(180deg) rotateX(6deg) scale(1.05);
}


@keyframes scroll {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  display: flex;
  width: max-content;
  animation: scroll 150s linear infinite;
}

/* Pause on hover */
.animate-scroll:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-40%);
  }
}

.animate-scroll {
  animation: scroll 25s linear infinite;
}


/* Marquee Animation */


/* Wrapper */
.marquee-wrapper {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
}

/* Track animation */
.marquee-track {
  display: flex;
  width: max-content;
  animation: marquee-scroll 20s linear infinite;
}

/* Smooth infinite scroll */
@keyframes marquee-scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Pause on hover (premium feel) */
.marquee-wrapper:hover .marquee-track {
  animation-play-state: paused;
}